<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>游戏</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>看点</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>京东购物</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>阅读</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>动漫</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>音乐</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>吃喝玩乐</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>同城服务</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>腾讯新闻</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>健康</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>腾讯课堂</string>
		<key>icon</key>
		<string>found_icons_gamecenter</string>
	</dict>
</array>
</plist>
