<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Font</key>
	<dict>
		<key>动态功能Cell字体</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>联系人Cell标题字体</key>
		<dict>
			<key>fontSize</key>
			<integer>17</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>联系人Cell简介字体</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>联系人header在线字体</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>联系人header标题字体</key>
		<dict>
			<key>fontSize</key>
			<integer>17</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>联系人功能Cell字体</key>
		<dict>
			<key>fontSize</key>
			<integer>14</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>联系人添加按钮字体</key>
		<dict>
			<key>fontSize</key>
			<integer>17</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>消息Cell未读字体</key>
		<dict>
			<key>fontSize</key>
			<integer>10</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>消息Cell时间字体</key>
		<dict>
			<key>fontSize</key>
			<integer>10</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>消息Cell简介字体</key>
		<dict>
			<key>fontSize</key>
			<integer>12</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>消息Cell标题字体</key>
		<dict>
			<key>fontSize</key>
			<integer>16</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>侧栏地址字体</key>
		<dict>
			<key>fontSize</key>
			<integer>15</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>侧栏天气字体</key>
		<dict>
			<key>fontSize</key>
			<integer>30</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>侧栏夜间模式字体</key>
		<dict>
			<key>fontSize</key>
			<integer>17</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>侧栏设置字体</key>
		<dict>
			<key>fontSize</key>
			<integer>15</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>侧栏Cell字体</key>
		<dict>
			<key>fontSize</key>
			<integer>17</integer>
			<key>fontName</key>
			<string></string>
		</dict>
		<key>导航栏标题字体</key>
		<dict>
			<key>fontSize</key>
			<integer>18</integer>
			<key>fontName</key>
			<string>.SFUIText-Semibold</string>
		</dict>
	</dict>
	<key>Image</key>
	<dict>
		<key>动态附近的人</key>
		<string>found_icons_location</string>
		<key>动态QQ空间</key>
		<string>found_icons_qzone</string>
		<key>动态部落</key>
		<string>found_icons_group_buluo</string>
		<key>分割线</key>
		<string>qvh_sep_line</string>
		<key>联系人header的箭头</key>
		<string>buddy_header_arrow</string>
		<key>联系人header背景_Nor</key>
		<string>buddy_header_nor</string>
		<key>联系人header背景_Hig</key>
		<string>buddy_header_press</string>
		<key>联系人新朋友</key>
		<string>buddy_header_icon_newfriend</string>
		<key>联系人公众号</key>
		<string>buddy_header_icon_public</string>
		<key>联系人特别关心</key>
		<string>buddy_header_icon_specialcare</string>
		<key>联系人群组</key>
		<string>buddy_header_icon_group</string>
		<key>侧栏我的超级会员</key>
		<string>sidebar_purse</string>
		<key>侧栏夜间模式_Nor</key>
		<string>sidebar_nightmode_on</string>
		<key>侧栏夜间模式_Hig</key>
		<string>sidebar_nightmode_off_press</string>
		<key>侧栏设置_Hig</key>
		<string>sidebar_setting_press</string>
		<key>侧栏设置_Nor</key>
		<string>sidebar_setting</string>
		<key>侧栏QQ钱包</key>
		<string>sidebar_purse</string>
		<key>侧栏我的文件</key>
		<string>sidebar_file</string>
		<key>侧栏我的收藏</key>
		<string>sidebar_favorit</string>
		<key>侧栏个性装扮</key>
		<string>sidebar_decoration</string>
		<key>侧栏我的相册</key>
		<string>sidebar_album</string>
		<key>侧栏背景</key>
		<string>sidebar_bg</string>
		<key>侧边栏二维码_Hig</key>
		<string>sidebar_QRcode_press</string>
		<key>侧边栏二维码_Nor</key>
		<string>sidebar_QRcode_normal</string>
		<key>侧边栏引号</key>
		<string>sidebar_signature_nor</string>
		<key>搜索栏输入的背景</key>
		<string>searchbar_inputbox</string>
		<key>消息背景</key>
		<string>user_bg</string>
		<key>消息界面导航加号</key>
		<string>head_message_add</string>
		<key>Nav头像</key>
		<string>user_icon</string>
		<key>Nav背景</key>
		<string>header_bg_ios7_blue_ip4</string>
		<key>TB背景</key>
		<string>tabbar_bg</string>
		<key>TB动态_Hig</key>
		<string>tab_qworld_press</string>
		<key>TB联系人_Hig</key>
		<string>tab_buddy_press</string>
		<key>TB消息_Hig</key>
		<string>tab_recent_press</string>
		<key>TB动态_Nor</key>
		<string>tab_qworld_nor</string>
		<key>TB联系人_Nor</key>
		<string>tab_buddy_nor</string>
		<key>TB消息_Nor</key>
		<string>tab_recent_nor</string>
	</dict>
	<key>Color</key>
	<dict>
		<key>消息标为已读按钮颜色</key>
		<string>#FD9B27</string>
		<key>消息置顶按钮颜色</key>
		<string>#FC3D39</string>
		<key>消息删除按钮颜色</key>
		<string>#C7C7CC</string>
		<key>动态附近的人</key>
		<string>#F16769</string>
		<key>动态部落</key>
		<string>#FED430</string>
		<key>动态QQ空间</key>
		<string>#FDAE59</string>
		<key>动态功能Cell字体颜色</key>
		<string>#000000</string>
		<key>分割线颜色</key>
		<string>#E5E6E7FF</string>
		<key>联系人header背景颜色</key>
		<string>#FFFFFF</string>
		<key>联系人CellVip标题字体颜色</key>
		<string>#FF4323</string>
		<key>联系人Cell标题字体颜色</key>
		<string>#232323</string>
		<key>联系人Cell简介字体颜色</key>
		<string>#777777</string>
		<key>联系人header在线字体颜色</key>
		<string>#858585</string>
		<key>联系人header标题字体颜色</key>
		<string>#000000</string>
		<key>联系人搜索栏背景色</key>
		<string>#FFFFFF</string>
		<key>联系人Cell背景颜色_Hig</key>
		<string>E5E6E7FF</string>
		<key>联系人Cell背景颜色_Nor</key>
		<string>ffffffff</string>
		<key>消息搜索栏背景色</key>
		<string>#FFFFFF</string>
		<key>联系人功能Cell字体颜色</key>
		<string>#000000</string>
		<key>联系人群组</key>
		<string>#0DB8F6</string>
		<key>联系人特别关心</key>
		<string>#FCD240</string>
		<key>联系人公众号</key>
		<string>#FEA356</string>
		<key>联系人新朋友</key>
		<string>#00D3A3</string>
		<key>导航栏标题字体颜色</key>
		<string>ffffffff</string>
		<key>联系人添加按钮文字颜色</key>
		<string>ffffffff</string>
		<key>消息Cell背景颜色_Hig</key>
		<string>E5E6E7FF</string>
		<key>消息Cell背景颜色_Nor</key>
		<string>ffffffff</string>
		<key>消息群助手内容颜色</key>
		<string>FC781Aff</string>
		<key>消息内容颜色</key>
		<string>777777ff</string>
		<key>消息标题字体颜色</key>
		<string>020202ff</string>
		<key>消息时间字体颜色</key>
		<string>717171ff</string>
		<key>消息未读字体颜色</key>
		<string>ffffffff</string>
		<key>消息气泡背景颜色_Dis</key>
		<string>98D7EFff</string>
		<key>消息气泡背景颜色_Nor</key>
		<string>F74C31FF</string>
		<key>侧栏Cell背景_Hig</key>
		<string>ffffff33</string>
		<key>侧栏Cell背景_Nor</key>
		<string>ffffff00</string>
		<key>侧栏Cell文字颜色</key>
		<string>ffffffff</string>
		<key>侧栏说说文字颜色</key>
		<string>33333333</string>
		<key>侧边栏头像边框颜色</key>
		<string>ffffffff</string>
		<key>消息搜索栏的底色</key>
		<string>eeeff3ff</string>
		<key>TB选中颜色</key>
		<string>12b7f5ff</string>
		<key>消息导航栏选择颜色</key>
		<string>ffffffff</string>
	</dict>
</dict>
</plist>
